@for $i from 1 through 10 {
     .col-#{$i} { 
     	$width: (10 * $i) - 3.2;
     	width: 1% * $width;
     	margin: 0.8%;
     	padding: 0.8%;
     	float: left;
     	background-color: orange;
     }   
 }
 @mixin box-emboss(){
	-webkit-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
}

.test {
  background-color: green;
  width: 500px;
  height: 500px;
}
