@for $i from 1 through 10 {
     .col-#{$i} { 
     	$width: (10 * $i) - 3.2;
     	width: 1% * $width;
     	margin: 0.8%;
     	padding: 0.8%;
     	float: left;
     }   
 }

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
