.col-1 {
  width: 6.8%;
  margin: 0.8%;
  padding: 0.8%;
  float: left; }

.col-2 {
  width: 16.8%;
  margin: 0.8%;
  padding: 0.8%;
  float: left; }

.col-3 {
  width: 26.8%;
  margin: 0.8%;
  padding: 0.8%;
  float: left; }

.col-4 {
  width: 36.8%;
  margin: 0.8%;
  padding: 0.8%;
  float: left; }

.col-5 {
  width: 46.8%;
  margin: 0.8%;
  padding: 0.8%;
  float: left; }

.col-6 {
  width: 56.8%;
  margin: 0.8%;
  padding: 0.8%;
  float: left; }

.col-7 {
  width: 66.8%;
  margin: 0.8%;
  padding: 0.8%;
  float: left; }

.col-8 {
  width: 76.8%;
  margin: 0.8%;
  padding: 0.8%;
  float: left; }

.col-9 {
  width: 86.8%;
  margin: 0.8%;
  padding: 0.8%;
  float: left; }

.col-10 {
  width: 96.8%;
  margin: 0.8%;
  padding: 0.8%;
  float: left; }

.green {
  background-color: green; }

.red {
  background-color: red; }

.green {
  background-color: blue; }
